:root {
  --primary: lightsalmon;
  --secondary: rgb(255, 208, 190);
  --tertiary: rgba(255, 160, 122, 0.57);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: "Gill Sans Nova Cond Ultra Bold", "Gill Sans", sans-serif;
  font-family: "Ultra", serif;
}
body {
  background: var(--secondary);
  background-image: url("./images/backgrounds/bg4.png");
  background-size: contain;
  background-attachment: fixed;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  text-decoration: none;
}
.titleBar {
  height: 12vh;
  width: 100%;
  margin: 0px 0px 30px 0px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border: 6px solid black;
  border-top: 0px solid #000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  position: fixed;
  background: var(--tertiary);
  color: #000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 100;
}
.nameTitle {
  padding-right: 15px;
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;
  text-shadow: 2px 2px 3px #000000;
}
.backButton i {
  color: #000;
  font-size: 2.5rem;
  padding-left: 15px;
}
.space2 {
  height: 12.5vh;
}
.profileImageBox {
  display: flex;
  justify-content: center;
}
.profileImageBox img {
  filter: grayscale();
  margin-top: 2vh;
  width: 50%;
  width: 50%;
}
.dayBox {
  display: flex;
  margin: 0 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.dayName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 4px 0;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: rgba(255, 255, 255, 0.765);
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.dayCell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  padding: 4px 0;
  background: var(--primary);
  border-radius: 5px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 2px;
}
.dayData {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  /* color: rgba(0, 0, 0, 0.784); */
}
#profilePage {
  background: var(--secondary);
  background-image: url("./images/backgrounds/bg4.png");
  background-size: contain;
  background-attachment: fixed;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
